@using Entity.ViewModels.Project
@model List<ProjectGetVM>
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Latest Blog</h5>
            <h1 class="mb-0">Read The Latest Articles from Our Blog Post</h1>
        </div>
        <div class="row g-5">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">

                    <div class="blog-item bg-light rounded overflow-hidden">
                        <div class="blog-img position-relative overflow-hidden">
                            <img class="~/assets/img-fluid" width="350px" src="~/assets/img/@item.Image" alt="">
                            <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">@item.Name</a>
                        </div>
                        <div class="p-4">
                            <div class="d-flex mb-3">

                                <small class="me-3"><i class="far fa-user text-primary me-2"></i>@item.AuthorName</small>
                                <small><i class="far fa-calendar-alt text-primary me-2"></i>@item.CreatedDate</small>
                            </div>
                            <h4 class="mb-3">@item.Description</h4>
                            <p>@item.ProjectUrl</p>
                            <a class="text-uppercase" asp-controller="Projects" asp-action="Detail" asp-route-id="@item.Id">Read More <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>

                </div>
            }
            <div class="text-center">
                <a class="btn btn-icon-prepend" asp-controller="Projects" asp-action="AllProject">Load more...</a>
            </div>
        </div>
    </div>
</div>