@using Entity.ViewModels.ChooseUs

@{
    ViewData["Title"] = "Index";
}
@model ChooseUsGetVM
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">@Model.Name</h5>
            <h1 class="mb-0">@Model.Title</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="@Model.ChooseUsActions.FirstOrDefault(p=>p.Id==1).Icon"></i>
                        </div>
                        <h4>@Model.ChooseUsActions.Find(p=>p.Id==1).Name</h4>
                        <p class="mb-0">@Model.ChooseUsActions.Find(p=>p.Id==1).Description</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="@Model.ChooseUsActions.Find(p=>p.Id==1).Icon"></i>
                        </div>
                        <h4>@Model.ChooseUsActions.FirstOrDefault(p=>p.Id==1).Name</h4>
                        <p class="mb-0">@Model.ChooseUsActions.Find(p=>p.Id==1).Description</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.1s" src="~/assets/img/@Model.Image" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.4s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="@Model.ChooseUsActions.Find(p=>p.Id==2).Icon"></i>
                        </div>
                        <h4>@Model.ChooseUsActions.Find(p=>p.Id==4).Name</h4>
                        <p class="mb-0">@Model.ChooseUsActions.Find(p=>p.Id==2).Description</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.8s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="@Model.ChooseUsActions.Find(p=>p.Id==3).Icon"></i>
                        </div>
                        <h4>@Model.ChooseUsActions.Find(p=>p.Id==3).Name</h4>
                        <p class="mb-0">@Model.ChooseUsActions.Find(p=>p.Id==3).Description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

