@using Entity.ViewModels.Contact
@{
    ViewData["Title"] = "Index";
    int count = 1;
}
@model List<ContactGetVM>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fullname</th>
            <th scope="col">Email</th>
            <th scope="col">Subject</th>
            <th scope="col">Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@count</th>
                <td>@item.FullName</td>
                <td>@item.Email</td>
                <td>@item.Subject</td>
                <td>@item.Message</td>
                <td>
                    <a asp-area="admin" asp-controller="Contact" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
            count++;
        }
    </tbody>
</table>


